# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/
pglite-debug.log

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.flutter-plugins-dependencies.lock
.flutter-plugins.version
.flutter-version
.packages
.pub-cache/
.pub/
build/
.mirrors
.metadata

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio specific
/android/app/debug
/android/app/profile
/android/app/release
android/.gradle/
android/local.properties

# iOS specific
ios/Flutter/Generated.xcconfig
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/.symlinks/
ios/Pods/
ios/Flutter/ephemeral/
ios/Runner/GoogleService-Info.plist

# macOS
macos/Pods/
macos/Flutter/ephemeral/

# Linux
linux/Flutter/generated_plugin_registrant.cc

# Windows
windows/Flutter/generated_plugin_registrant.cc

# Web
web/.dart_tool/
web/build/

# Firebase (if applicable)
firebase.json

# Config files
splash.yaml
stu_buddy.iml
